@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  position: relative; /* Ensure proper positioning */
}

 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.slide-content {
  position: absolute; /* Position the content relative to the slide */
  width: 100%; /* Occupy full width of the slide */
  height: 96%; /* Occupy full height of the slide */
  top: 0; 
  left: 0;
  display: flex;
  flex-direction: column; /* Stack text on top of the image */
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Include padding in width and height */
} 


.sketch {
  max-width: 100%;
  max-height: 100%;
}


.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #eee; /* Set background color for slides */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

